<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head.ejs',{viewTitle: "Editar Película"})%>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Película Editada:  <%= Movie.title %></h1>
    <section class="formulario">
        <form action="/movies/update/<%= Movie.id %>?_method=PUT" method="POST">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%= Movie.title %>" required>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="number" class="form-control" id="rating" name="rating" value="<%= Movie.rating %>" required>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="awards" class="form-label">Awards</label>
                    <input type="number" class="form-control" id="awards" name="awards" value="<%= Movie.awards %>" required>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="release_date" class="form-label">Release Date</label>
                    <input type="date" class="form-control" id="release_date" name="release_date" value="<%= Movie.release_date %>" required>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="length" class="form-label">Length</label>
                    <input type="number" class="form-control" id="length" name="length" value="<%= Movie.length %>" required>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="genre_id" class="form-label">Genre</label>
                    <select id="genre_id" name="genre_id" class="form-select">
                        <option value="" disabled selected>- select genre - </option>
                        <% allGenres.forEach(genre=> { %>
                            <option value="<%= genre.id %>"<%= genre.id == Movie.genre_id && 'selected'%>>
                                <%= genre.name %>
                            </option>
                        <% }); %>
                    </select>
                </div>
                <div class="col-12">
                    <br>
                    <h5 class="form-label">Actores</h5>
                    <div class="row">
                        <% actors.forEach(actor=>{%>
                            <div class="form-check col-lg-3 col-md-4 col-sm-6">
                                <input class="form-check-input" type="checkbox" <%=Movie.actors.map(actor=>actor.id).includes(actor.id) && 'checked' %> value="<%= actor.id %>" id="actor<%=actor.id%>">
                                <label class="form-check-label" for="actor<%= actor.id %>">
                                  <%= actor.first_name%> <%= actor.last_name %>
                                </label>
                            </div>
                        <%}) %>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <br>
                    <button type="reset" class="btn btn-primary">Reiniciar Formulario</button>
                    <button type="submit" class="btn btn-success">Guardar Cambios <i class="fa-solid fa-film"></i></button>
                    <a href="/movies/detail/<%= Movie.id %>">
                        <button type="button" class="btn btn-secondary">
                            Volver Atras <i
                            class="fa-solid fa-reply"></i>
                        </button>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"></div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-end align-items-end">
                    <br>
                    <a href="/movies">
                        <button type="button" class="btn btn-secondary">
                            Volver Al Listado De Películas
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </section>
</body>

</html>